$breakpoints:(
    'mobile': '(max-width: 575.98px )',
    'tablet': '(max-width: 767.98px )',
    'desktop': '(max-width: 991.98px )',
    'larg': '(max-width: 1199.98px )',
);

$bodyColor : #f7f8f8 ;
$primaryColor : #aa1e23 ;
$primaryDarkColor: #8a2721 ;
$primaryLightColor: #b82a2d ;
$textColor: #444545 ;

$FontName: "iranyekan";

$roundedCu : 5px;


